<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  #grad1 {
  height: 600px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
</style>
  <h4><p style="color:rgb(57, 177, 117);font-size:50px;">Different Style</p></h4></head>
<div id="grad1">
<body>












    {% load static %}
    <form action="input">
      <input type="image" src="{% static "app2/images/r1.jpg" %}" height="480" style="display:inline;position: absolute; top:180px; right: 500px;">
    </form>

















</body>
</div>
</html>